# Ignore environment files
.env

# Ignore Python compiled files
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore local settings or development-specific files
local-settings.py

# Ignore IDE/editor configurations
.vscode/
.idea/

# Ignore logs
*.log

#Ignore version control files
.gitignore
.git

#Ignove the virtual environment
.venv
.venv/

staticfiles
media

# letsencrypt secrets
letsencrypt