# Ignore environment files
.env

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore local settings or development-specific files
local-settings.py

# Ignore IDE/editor configurations
.vscode/
.idea/
.idea

# Ignore logs
*.log

#Ignore dockerignore
.dockerignore

# letsencrypt secrets
letsencrypt
docker-compose.yml
"letsencrypt/" 
"*.pyc" 
