{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="edit-delete edit-photo">
        <h2>Create New Company</h2>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-section">
                <h3>Company Information</h3>

                <div class="form-fields">

                    <p>Commercial name *</p>
                    {{ company_profile_form.status }}
                    {{ company_profile_form.commercial_name }}
                    {% if company_profile_form.commercial_name.errors %}
                        <div class="error">{{ company_profile_form.commercial_name.errors }}</div>
                    {% endif %}

                    <p>Legal name *</p>
                    {{ company_profile_form.legal_name }}
                    {% if company_profile_form.legal_name.errors %}
                        <div class="error">{{ company_profile_form.legal_name.errors }}</div>
                    {% endif %}

                    <p>VAT / Tax ID *</p>
                    {{ company_profile_form.tax_id }}
                    {% if company_profile_form.tax_id.errors %}
                        <div class="error">{{ company_profile_form.tax_id.errors }}</div>
                    {% endif %}

                    <p>Billing e-mail *</p>
                    {{ company_profile_form.billing_email }}
                    {% if company_profile_form.billing_email.errors %}
                        <div class="error">{{ company_profile_form.billing_email.errors }}</div>
                    {% endif %}

                    <p>Whatsapp number *</p>
                    {{ phone_number_form.number|placeholder:'e.g. +1234567890' }}
                    {% if phone_number_form.number.errors %}
                        <div class="error">{{ phone_number_form.number.errors }}</div>
                    {% endif %}

                    <p>Company logo (max 5MB) *</p>
                    {{ company_profile_form.logo|placeholder:'Email' }}
                    {% if company_profile_form.logo.errors %}
                        <div class="error">{{ company_profile_form.logo.errors }}</div>
                    {% endif %}

                </div>
            </div>

            <div class="form-section">
                <h3>Address Information</h3>
                <div class="form-fields">
                
                    <p>Country *</p>
                    {{ address_form.country }}
                    {% if address_form.country.errors %}
                        <div class="error">{{ address_form.country.errors }}</div>
                    {% endif %}
                
                    <p>City *</p>
                    {{ address_form.city }}
                    {% if address_form.city.errors %}
                        <div class="error">{{ address_form.city.errors }}</div>
                    {% endif %}
                
                    <p>State</p>
                    {{ address_form.state }}
                    {% if address_form.state.errors %}
                        <div class="error">{{ address_form.state.errors }}</div>
                    {% endif %}
                
                    <p>Street *</p>
                    {{ address_form.street_address }}
                    {% if address_form.street_address.errors %}
                        <div class="error">{{ address_form.street_address.errors }}</div>
                    {% endif %}
                
                    <p>Postal code *</p>
                    {{ address_form.postal_code }}
                    {% if address_form.postal_code.errors %}
                        <div class="error">{{ address_form.postal_code.errors }}</div>
                    {% endif %}
                
                </div>
            </div>

            <button class="add-btn" type="submit">Create Company</button>
        </form>

    </div>

{% endblock %}