{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="edit-delete edit-photo">
        <h2>Create {{ model_name|title }}</h2>

        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <button class="add-btn" type="submit">Submit Request</button>
        </form>

    </div>
    
<!-- Multi-select JavaScript -->
<script src="{% static 'js/multi_select.js' %}"></script>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/multi_select.js' %}"></script>
    <script src="{% static 'js/date-formatting.js' %}"></script>
{% endblock %}




