{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="edit-delete edit-photo">
        <h2>Edit {{ model_name|title }}</h2>

        <form method="post" action="{% url 'edit-service' model_name=model_name pk=object.pk %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-fields">
                {% if model_name == 'currency' %}

                    {% include 'services/partials/currency-form.html' %}

                {% else %}
                    <p>Country</p>
                    {{ form.country }}
                    {% if form.country.errors %}
                        <div class="error">{{ form.country.errors }}</div>
                    {% endif %}

                    <p>City</p>
                    {{ form.city }}
                    {% if form.city.errors %}
                        <div class="error">{{ form.city.errors }}</div>
                    {% endif %}

                    <p>Capacity</p>
                    {{ form.capacity }}
                    {% if form.capacity.errors %}
                        <div class="error">{{ form.capacity.errors }}</div>
                    {% endif %}

                    {% if model_name == 'hotel' %}
                        {% include 'services/partials/hotel-form.html' %}
                    {% elif model_name == 'transfer' %}
                        {% include 'services/partials/transfer-form.html' %}
                    {% elif model_name == 'localguide' %}
                        {% include 'services/partials/guides-form.html' %}
                    {% elif model_name == 'ticket' %}
                        {% include 'services/partials/activity-form.html' %}
                    {% elif model_name == 'publictransport' or model_name == 'privatetransport' %}
                        {% include 'services/partials/public-private-transport-form.html' %}
                        {#                        {{ form }}#}

                    {% endif %}
                {% endif %}
            </div>

            <div class="action-btns">
                <button class="add-btn" type="submit">Save Changes</button>
                <button class="add-btn" type="button" onclick="window.location.href='{% url 'service-dashboard' model_name=model_name %}'">
                    Cancel
                </button>
            </div>
        </form>

    </div>
{% endblock %}
