{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="trip">

        {% if model_name == 'currency' %}

            {% include 'services/service-details-partials/currency-details.html' %}

        {% else %}

            <div class="trip-title">
                {% if  model_name == 'publictransport' or model_name == 'privatetransport' or model_name == 'transfer' %}
                    <p>{{ service.get_type_display }} in {{ service.get_city_display }}</p>
                {% elif model_name == 'localguide' or model_name == 'staff' %}
                    <p>{{ service.label }}</p>
                {% else %}
                    <p>{{ service.name }}</p>
                {% endif %}
            </div>

            <hr class="custom-line">

            {% if model_name == 'hotel' %}
                <!--Hotels Service title -->
                {% include 'services/service-details-partials/hotel-details.html' %}
            {% elif model_name == 'localguide' %}
                <!--Local Guides Service title -->
                {% include 'services/service-details-partials/local-guide-details.html' %}
            {% elif model_name == 'ticket' %}
                <!--Activities Service title -->
                {% include 'services/service-details-partials/activity-details.html' %}
            {% elif model_name == 'currency' %}
                <!--Currency Service title -->
                {% include 'services/service-details-partials/currency-details.html' %}
            {% elif model_name == 'publictransport' or model_name == 'privatetransport' %}
                {% include 'services/service-details-partials/public-private-transport-details.html' %}
            {% elif model_name == 'staff' %}
                {% include 'services/service-details-partials/staff-details.html' %}
            {% elif model_name == 'transfer' %}
                {% include 'services/service-details-partials/transfer-details.html' %}
            {% endif %}


            {% if model_name != 'hotel' %}
                <div class="trip-section">
                    <h3 class="title">Location</h3>
                    <table>
                        <tbody>
                        <tr>
                            <th>Country:</th>
                            <td><i> {{ service.get_country_display }} </i></td>
                        </tr>
                        <tr>
                            <th>City:</th>
                            <td><i>{{ service.city }}</i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            <hr class="custom-line">

            <div class="trip-section">
                <h3 class="title">Contact Information</h3>
                <table>
                    <tbody>
                    <tr>
                        <th>Email:</th>
                        {% if service.email == None %}
                            <td><i> - </i></td>
                        {% else %}
                            <td><i> {{ service.email }} </i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Phone number:</th>
                        {% if service.telephone_number == None %}
                            <td><i> - </i></td>
                        {% else %}
                            <td><i> {{ service.telephone_number }} </i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Website:</th>
                        {% if service.website == None %}
                            <td><i> - </i></td>
                        {% else %}
                            <td><i><a href="{{ service.website }}" target=”_blank”>
                                {{ service.website }}
                            </a></i></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>

            <hr class="custom-line">

            <div class="trip-section">
                <h3 class="title">Provider</h3>
                <table>
                    <tbody>
                    <tr>
                        <th>Name:</th>
                        <td><i> {{ service.provider.commercial_name }} </i></td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td><i> {{ service.provider.get_country_display }} </i></td>
                    </tr>
                    <tr>
                        <th>Telephone number:</th>
                        <td><i> {{ service.provider.telephone_number }} </i></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><i> {{ service.provider.email }} </i></td>
                    </tr>
                    <tr>
                        <th>Website:</th>
                        {% if service.provider.website == None %}
                            <td><i> - </i></td>
                        {% else %}
                        <td><i> <a href="{{ service.provider.website }}" target=”_blank”>
                            {{ service.provider.website }}
                        </a> </i></td>
                            {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>


            <hr class="custom-line">

            <div class="trip-section">
                <h3 class="title">Entry Information</h3>
                <table>
                    <tbody>
                    <tr>
                        <th>Last update:</th>
                        <td><i> {{ service.updated_at|date:"d-M-Y" }} </i></td>
                    </tr>
                    <tr>
                        <th>Updated by:</th>
                        <td><i>{{ service.created_by_user.email }}</i></td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td>
                            <div class="action-btn">
                                {% if service.is_active %}
                                    <!-- Active Request Status -->
                                    <img
                                            src="{% static 'images/green-circle.png' %}"
                                            alt="Active"
                                    />

                                {% else %}
                                    <!-- Closed Request Status -->
                                    <img
                                            src="{% static 'images/red-circle.png' %}"
                                            alt="Closed"
                                    />
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

{% endblock %}