{% extends 'base.html' %}
{% load tz %}
{% load static %}

{% block content %}

    <main class="dashboard-table">
        <div class="container-table">

            {% if not all_requests %}

                <h2>You have no requests yet!</h2>

            {% else %}
                <h2>Requests Dashboard</h2>

                <div class="col-9">

                    <!-- Start Searchbar Form -->
                    <form class="searchbar" method="get">

                        {% csrf_token %}
                        {{ search_form }}

                        <button>
                            <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                        </button>
                    </form>
                    <!-- End Searchbar Form -->

                </div>

                <!-- Add company button -->

                <div class="action-btn add-option">
                    <a href="{% url 'new-request' %}">
                        <img
                                src="{% static 'images/new-page.png' %}"
                                alt="Create new company"
                        />
                    </a>
                </div>



                <!-- Dashboard Table -->
                <ul class="responsive-table requests-table">

                    <li class="table-header">
                        <div class="col col-1">Submitted On</div>
                        <div class="col col-2">Status</div>
                        <div class="col col-33">Title</div>
                        <div class="col col-4">Destinations</div>
                        <div class="col col-5">Starts At</div>
                        <div class="col col-6">Submitted By</div>
                        {% if request.user.role == 'employee' and request.user.is_authenticated %}
                            <div class="col col-7">Company</div>
                        {% endif %}
                        <div class="col col-8">Actions</div>

                    </li>
                    {% for trip_request in triprequests_list %}
                        <li class="table-row">
                            <div class="col col-1"
                                 data-label="Submitted On">{{ trip_request.created_at|date }}</div>
                            <div class="col col-2" data-label="Status">
                                <div class="action-btn">
                                    {% if trip_request.created_at|date:"Y-m-d" == now|date:"Y-m-d" and trip_request.is_active %}
                                        <!-- New Request Status-->
                                        <img
                                                src="{% static 'images/new-icon.png' %}"
                                                alt="New Request"
                                        />
                                    {% elif trip_request.is_active %}
                                        <!-- Active Request Status -->
                                        <img
                                                src="{% static 'images/green-circle.png' %}"
                                                alt="Active Request"
                                        />

                                    {% elif not trip_request.is_active %}
                                        <!-- Closed Request Status -->
                                        <img
                                                src="{% static 'images/red-circle.png' %}"
                                                alt="Closed Request"
                                        />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col col-33" data-label="Title">{{ trip_request.slug }}</div>
                            <div class="col col-4"
                                 data-label="Destinations">{{ trip_request.country_destinations }}</div>
                            <div class="col col-5" data-label="Starts At">{{ trip_request.trip_start_date }}</div>
                            <div class="col col-6"
                                 data-label="Submitted By">{{ trip_request.created_by_user.email }}</div>
                            {% if request.user.role == 'employee' and request.user.is_authenticated %}
                                <div class="col col-7"
                                     data-label="Company">{{ trip_request.created_by_company.commercial_name }}</div>
                            {% endif %}
                            <div class="col col-8" data-label="Actions">
                                <div class="action-btn request-action-btn">
                                    <!-- View Request Page-->
                                    <a href="{% url 'request-details' pk=trip_request.pk %}">
                                        <img
                                                src="{% static 'images/view-icon.png' %}"
                                                alt="view button"
                                        />
                                    </a>
                                    <!-- Duplicate request-->
                                    <a href="#">
                                        <img
                                                src="{% static 'images/duplicate (1).png' %}"
                                                alt="duplicate button"
                                        />
                                    </a>

                                    {% if request.user.role == 'employee' %}
                                        <!-- Link to Edit Request Page -->
                                        <a href="{% url 'edit-request' pk=trip_request.pk %}">
                                            <img
                                                    src="{% static 'images/edit-icon.png' %}"
                                                    alt="edit button"
                                            />
                                        </a>

                                        <!-- Link to Delete Request Page -->
                                        <a href="{% url 'delete-request' pk=trip_request.pk %}">
                                            <img
                                                    src="{% static 'images/check-mark.png' %}"
                                                    alt="delete button"
                                            />

                                        </a>

                                        <!-- Link to Delete Request Page -->
                                        <a href="{% url 'create-proposal' trip_id=trip_request.pk%}">
                                            <img
                                                    src="{% static 'images/check-mark.png' %}"
                                                    alt="delete button"
                                            />

                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>

                    {% empty %}

                        <li>No results found</li>

                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}
