{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

    <div class="edit-delete edit-photo login">
        <h2>Log In</h2>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-section">
                {{ form.username|placeholder:'Email' }}
                {{ form.username.errors }}
                {{ form.password|placeholder:'Password' }}
                {{ form.password.errors }}
{#            {{ form }}#}
            </div>
        <div class="forgot-password">
            <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
            <button class="add-btn" type="submit">Log in</button>
        </form>
        <div class="no-account">
            <a href="{% url 'create-client' %}"><i>Still don't have an account? <u>Sign up here!</u></i> </a>
        </div>
    </div>

{% endblock %}