{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-voya-image.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {#    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>#}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Voya</title>
</head>
<!-- End Head Section -->

<!-- Starts Body Section -->
<body>
<!-- Loader -->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>
<!-- Starts Header Section with Navigation Bar -->
<header>
    <nav class="navbar">
        <div class="container">
        
         <!-- VOYA Logo section -->
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="{% url 'home' %}">
                    <img width="200px" src="{% static 'images/logo-voya-powered by-v2.png' %}" alt="img1">
                </a>
            </div>

         <!-- Menu section -->
            <div class="nav-links">
                <ul class="nav-group">
                    {% if request.user.is_authenticated and request.user.role == 'client' %}
                        
                        <!-- Client Dashboard section -->
                        <li class="nav-item">
                            <!-- Link to Client Dashboard Page -->
                            <a href="{% url 'client-dashboard' pk=profile.pk %}">
                                {% trans "Dashboard" %}
                            </a>
                        </li>
                        
                        <!-- Client Create Request section -->
                        <li class="nav-item">
                            <!-- Link to Create Request Page -->
                            <a href="{% url 'new-request' %}">
                                {% trans "New Request" %}
                            </a>
                        </li>
                        
                        <!-- Client Profile section -->
                        <li class="nav-item">
                            <!-- Link to Profile Page -->
                            <a href="{% url 'profile-details' pk=profile.pk %}">
                                {% trans "Profile" %}
                            </a>
                        </li>
                        
                        <!-- Client logout section -->
                        
                        <li class="nav-item">
                            <!-- Log out -->
                            <div class="logo">
                                <a href="{% url 'logout' %}">
                                    <img width="22px" src="{% static 'images/power-off.png' %}"
                                         alt="img1"
                                         title="Logout"
                                    >
                                </a>

                            </div>
                        </li>
                    {% elif request.user.is_authenticated and request.user.role == 'employee' or request.user.is_staff %}

                        <!-- Employee Dashboards section -->
                        <li class="nav-item">
                            <nav>
                                <menu>
                                    <menuitem>
                                        <a href="{% url 'employee-dashboard' pk=profile.pk %}">{% trans "Dashboards" %}</a>
                                        <menu>
                                            <menuitem>
                                                <a href="{% url 'employee-dashboard' pk=profile.pk %}">{% trans "Requests" %}</a>
                                            </menuitem>
                                            <menuitem>
                                                <a href="{% url 'proposal-dashboard' %}">{% trans "Proposals" %}</a>
                                            </menuitem>
                                        </menu>
                                    </menuitem>
                                </menu>
                            </nav>
                        </li>

                        <!-- Employee Companies section -->
                        <li class="nav-item">

                            <!-- Link to Login Page -->
                            <a href="{% url 'companies-dashboard' %}">
                                {% trans "Companies" %}
                            </a>
                        </li>

                        <!-- Employee Services section -->
                        <li class="nav-item">
                            <nav>
                                <menu>
                                    <menuitem id="demo1">
                                        <a>{% trans "Services" %}</a>
                                        <menu>
                                            
                                            <!-- Hotels section -->
                                            <menuitem>
                                                <a href="{% url 'service-dashboard' model_name='hotel' %}">
                                                    {% trans "Hotels" %}
                                                </a>
                                                <menu>
                                                    <menuitem><a href="{% url 'create-service' model_name='hotel' %}">
                                                        {% trans "Add New Hotel" %}
                                                    </a></menuitem>
                                                </menu>
                                            </menuitem>
                                            
                                            <!-- Guides section -->
                                            <menuitem id="demo2">
                                                <a>{% trans "Guides" %}</a>
                                                <menu>
                                                    
                                                    <!-- Local Guides sub-section -->
                                                    <menuitem id="demo3">
                                                        <a href="{% url 'service-dashboard' model_name='localguide' %}">
                                                            {% trans "Local guides" %}
                                                        </a>
                                                        <menu>
                                                            <menuitem>
                                                                <a href="{% url 'create-service' model_name='localguide' %}">
                                                                    {% trans "Add New" %}
                                                                </a>
                                                            </menuitem>
                                                        </menu>
                                                    </menuitem>
                                                    
                                                    <!-- Tour Leader sub-section -->
                                                    <menuitem>
                                                        <a href="{% url 'service-dashboard' model_name='staff' %}">
                                                            {% trans "Tour leaders" %}
                                                        </a>
                                                        <menu>
                                                            <menuitem>
                                                                <a href="{% url 'create-service' model_name='staff' %}">
                                                                    {% trans "Add New" %}
                                                                </a>
                                                            </menuitem>
                                                        </menu>
                                                    </menuitem>
                                                    
                                                </menu>
                                            </menuitem>

                                            <!-- Activities section -->
                                            <menuitem>
                                                <a href="{% url 'service-dashboard' model_name='ticket' %}">
                                                    {% trans "Activities" %}
                                                </a>
                                                <menu>
                                                    <menuitem>
                                                        <a href="{% url 'create-service' model_name='ticket' %}">
                                                            {% trans "Add New Activity" %}
                                                        </a>
                                                    </menuitem>
                                                </menu>
                                            </menuitem>

                                            <!-- Transport section -->
                                            <menuitem id="demo2">
                                                <a>{% trans "Transport" %}</a>
                                                <menu>
                                                    
                                                    <!-- Private Transport sub-section -->
                                                    <menuitem id="demo3">
                                                        <a href="{% url 'service-dashboard' model_name='privatetransport' %}">
                                                            {% trans "Private Transport" %}
                                                        </a>
                                                        <menu>
                                                            <menuitem>
                                                                <a href="{% url 'create-service' model_name='privatetransport' %}">
                                                                    {% trans "Add New" %}
                                                                </a>
                                                            </menuitem>
                                                        </menu>
                                                    </menuitem>
                                                    
                                                    <!-- Public Transport sub-section -->
                                                    <menuitem>
                                                        <a href="{% url 'service-dashboard' model_name='publictransport' %}">
                                                            {% trans "Public Transport" %} </a>
                                                        <menu>
                                                            <menuitem>
                                                                <a href="{% url 'create-service' model_name='publictransport' %}">
                                                                    {% trans "Add New" %}
                                                                </a>
                                                            </menuitem>
                                                        </menu>
                                                    </menuitem>
                                                    
                                                    <!-- Transfer sub-section -->
                                                    <menuitem>
                                                        <a href="{% url 'service-dashboard' model_name='transfer' %}">
                                                            {% trans "Transfers" %} Transfers
                                                        </a>
                                                        <menu>
                                                            <menuitem>
                                                                <a href="{% url 'create-service' model_name='transfer' %}">
                                                                    {% trans "Add New" %}
                                                                </a>
                                                            </menuitem>
                                                        </menu>
                                                    </menuitem>
                                                    
                                                </menu>
                                            </menuitem>

                                            <!-- Providers section -->
                                            <menuitem>
                                                <a href="{% url 'providers-dashboard' %}">
                                                    {% trans "Providers" %}
                                                </a>
                                                <menu>
                                                    <menuitem>
                                                        <a href="{% url 'create-provider' %}">
                                                            {% trans "Add New Provider" %}
                                                        </a>
                                                    </menuitem>
                                                </menu>
                                            </menuitem>

                                        </menu>
                                    </menuitem>
                                </menu>
                            </nav>
                        </li>

                        <!-- Employee Settings section -->
                        <li class="nav-item">
                            <nav>
                                <menu>
                                    <menuitem id="demo1">
                                        <a>{% trans "Settings" %}</a>
                                        <menu>
                                            <!-- Payment terms section -->
                                            <menuitem>
                                                <a href="{% url 'service-dashboard' model_name='hotel' %}">
                                                    {% trans "Payment terms" %}
                                                </a>
                                                <menu>
                                                    <menuitem><a href="{% url 'create-service' model_name='hotel' %}">
                                                        {% trans "Add payment term" %}
                                                    </a>
                                                    </menuitem>
                                                </menu>
                                            </menuitem>

                                            <!-- Cancellation terms section -->
                                            <menuitem>
                                                <a href="{% url 'service-dashboard' model_name='currency' %}">
                                                    {% trans "Cancellation terms" %}
                                                </a>
                                                <menu>
                                                    <menuitem>
                                                        <a href="{% url 'create-service' model_name='currency' %}">
                                                            {% trans "Add cancellation terms" %}
                                                        </a>
                                                    </menuitem>
                                                </menu>
                                            </menuitem>

                                            <!-- Bank Accounts section -->
                                            <menuitem>
                                                <a href="{% url 'service-dashboard' model_name='ticket' %}">
                                                    {% trans "Bank account" %}
                                                </a>
                                                <menu>
                                                    <menuitem>
                                                        <a href="{% url 'create-service' model_name='ticket' %}">
                                                            {% trans "Add bank account" %}
                                                        </a>
                                                    </menuitem>
                                                </menu>
                                            </menuitem>

                                            <!-- Location section -->
                                            <menuitem>
                                                <a href="{% url 'service-dashboard' model_name='location' %}">
                                                    {% trans "Location" %}
                                                </a>
                                                <menu>
                                                    <menuitem>
                                                        <a href="{% url 'create-service' model_name='location' %}">
                                                            {% trans "Add New Location" %}
                                                        </a>
                                                    </menuitem>
                                                </menu>
                                            </menuitem>

                                            <!-- Currency section -->
                                            <menuitem>
                                                <a href="{% url 'service-dashboard' model_name='currency' %}">
                                                    {% trans "Currency" %}
                                                </a>
                                                <menu>
                                                    <menuitem><a
                                                            href="{% url 'create-service' model_name='currency' %}">
                                                        {% trans "Add New Currency" %}
                                                    </a>
                                                    </menuitem>
                                                </menu>
                                            </menuitem>
                                        </menu>
                                    </menuitem>
                                </menu>
                            </nav>
                        </li>

                        <!-- Employee Profile section -->
                        <li class="nav-item">
                            <!-- Link to Login Page -->
                            <a href="{% url 'employee-profile' pk=profile.pk %}">
                                {% trans "Profile" %}
                            </a>
                        </li>

                        <!-- Employee Log out section-->
                        <li class="nav-item">
                            <div class="logo">
                                <a href="{% url 'logout' %}">
                                    <img width="22px" src="{% static 'images/power-off.png' %}"
                                         alt="img1"
                                         title="Logout"
                                    >
                                </a>
                            </div>
                        </li>

                    {% else %}
                        
                        <!-- Add company section -->
                        <li class="nav-item">

                            <!-- Link to Add Comapany Page -->
                            <a href="{% url 'create-company' %}">
                                {% trans "New Company" %}
                            </a>
                        </li>
                        
                        <!-- Add client section -->
                        <li class="nav-item">
                            <!-- Link to create client -->
                            <a href="{% url 'create-client' %}">
                                {% trans "New Client" %}
                            </a>
                        </li>
                        
                        <!-- Login section -->
                        <li class="nav-item">
                            <!-- Link to Login Page -->
                            <a href="{% url 'login' %}">
                                {% trans "Login" %}
                            </a>
                        </li>
                        
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header Section with Navigation Bar -->

<!-- Starts Main Section -->
<main>

    {% block content %}
    {% endblock %}

</main>

<!-- Start Footer Section -->
<footer>
    <div class="footer">
        <div class="logo">
            <!-- Link to Home Page -->
            <a href="{% url 'home' %}">
                <img width="150px" src="{% static 'images/logo-voya.png' %}" alt="img1">
            </a>
            <span class="footer-section">
			© {% now 'Y' %} | Voya SA | {% trans "All Rights Reserved." %}
		</span>
        </div>
        <!-- End Footer Section -->
    </div>
</footer>

<!-- Start Script Section -->
<script src="{% static '/js/loader.js' %}"></script>

{% block scripts %}
{% endblock %}


</body>
</html>