{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-voya-image.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Voya</title>
</head>
<!-- End Head Section -->

<!-- Starts Body Section -->
<body>
<!-- Loader -->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>
<!-- Starts Header Section with Navigation Bar -->
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="{% url 'home' %}">
                    <img width="200px" src="{% static 'images/logo-voya-powered by-v2.png' %}" alt="img1">
                </a>

            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    {% if request.user.is_authenticated and request.user.role == 'client' %}
                        <li class="nav-item">

                            <!-- Link to Add Pet Page -->
                            <a href="{% url 'client-dashboard' pk=profile.pk %}">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">

                            <!-- Link to Add Photo Page -->
                            <a href="{% url 'new-request' %}">
                                New Request
                            </a>
                        </li>
                        <li class="nav-item">

                            <!-- Link to Login Page -->
                            <a href="{% url 'profile-details' pk=profile.pk %}">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">

                            <!-- Log out -->
                            <a href="{% url 'logout' %}">
                                Log out
                            </a>
                        </li>
                    {% elif request.user.is_authenticated and request.user.role == 'employee' or request.user.is_staff %}
                        <li class="nav-item">

                            <!-- Link to Add Pet Page -->
                            <a href="{% url 'employee-dashboard' pk=profile.pk %}">
                                Dashboard
                            </a>
                        </li>

                        <li class="nav-item">

                            <!-- Link to Login Page -->
                            <a href="{% url 'companies-dashboard' %}">
                                Companies
                            </a>
                        </li>

                        <li class="nav-item">

                            <!-- Link to Login Page -->
                            <a href="{% url 'employee-profile' pk=profile.pk %}">
                                Profile
                            </a>
                        </li>

                        <li class="nav-item">

                            <!-- Log out -->
                            <a href="{% url 'logout' %}">
                                Log out
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">

                            <!-- Link to Add Pet Page -->
                            <a href="{% url 'create-company' %}">
                                New Company
                            </a>
                        </li>
                        <li class="nav-item">

                            <!-- Link to Add Photo Page -->
                            <a href="{% url 'create-client' %}">
                                New Client
                            </a>
                        </li>
                        <li class="nav-item">

                            <!-- Link to Login Page -->
                            <a href="{% url 'login' %}">
                                Login
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header Section with Navigation Bar -->

<!-- Starts Main Section -->
<main>

    {% block content %}
    {% endblock %}

</main>

<!-- Start Footer Section -->
<footer>
<div class="footer">
    <div class="logo">
        <!-- Link to Home Page -->
        <a href="{% url 'home' %}">
            <img width="150px" src="{% static 'images/logo-voya.png' %}" alt="img1">
        </a>
        <span class="footer-section">
			© 2024 | Voya SA | All Rights Reserved.
		</span>
    </div>
    <!-- End Footer Section -->
</div>
</footer>

<!-- Start Script Section -->
<script src="{% static '/js/loader.js' %}"></script>

{% block scripts %}
{% endblock %}


</body>
</html>