{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}

    {% csrf_token %}
    <div class="proposal">
        <div class="trip-comments-wrapper">
            <div class="trip trip-proposal">
                <div class="trip-title">
                    <!-- Trip title -->
                    <p>{{ current_request.slug }}</p>

                </div>
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 class="title">Group Information</h3>
                    <table>
                        <tbody>
                        <tr>
                            <th>Nationality:</th>
                            <td><i> {{ current_request.get_nationality_display }} </i></td>
                        </tr>
                        <tr>
                            <th>Age range:</th>
                            <td><i>{{ current_request.age_range }} years old</i></td>
                        </tr>
                        <tr>
                            <th>Min participants:</th>
                            <td><i> {{ current_request.min_participants }} people</i></td>
                        </tr>
                        <tr>
                            <th>Max participants:</th>
                            <td><i> {{ current_request.max_participants }} people</i></td>
                        </tr>
                        <tr>
                            <th>Group type:</th>
                            <td><i> {{ current_request.get_kind_of_group_display }} </i></td>
                        </tr>
                        {% if current_request.type_of_trip %}
                            <tr>
                                <th>Type of trip:</th>
                                <td><i> {{ current_request.type_of_trip }} </i></td>
                            </tr>
                        {% endif %}
                        {% if current_request.additional_observations %}
                            <tr>
                                <th>Additional observations:</th>
                                <td><i> {{ current_request.additional_observations }} </i></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <hr class="custom-line">
                    <div class="trip-section">
                        <h3 class="title">Dates Information</h3>
                        <table>
                            <tbody>
                            <tr>
                                <th>Start date:</th>
                                <td><i> {{ current_request.trip_start_date|date:"d-M-Y" }} </i></td>
                            </tr>
                            <tr>
                                <th>End date:</th>
                                <td><i>{{ current_request.trip_end_date|date:"d-M-Y" }}</i></td>
                            </tr>
                            <tr>
                                <th>Trip duration:</th>
                                <td><i> {{ current_request.trip_duration }} days </i></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <hr class="custom-line">
                    <div class="trip-section">
                        <h3 class="title">Destination Information:</h3>

                        <table>
                            <tbody>
                            <tr>
                                <th>Origin country:</th>
                                <td><i> {{ current_request.get_country_origin_display }} </i></td>
                            </tr>
                            <tr>
                                <th>Destinations:</th>
                                <td><i>{{ current_request.get_country_destinations_display }}</i></td>
                            </tr>
                            {% if current_request.other_destinations %}
                                <tr>
                                    <th>Additional destinations info:</th>
                                    <td><i> {{ current_request.other_destinations }} </i></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <hr class="custom-line">
                    <div class="trip-section">
                        <h3 class="title">Trip Information:</h3>

                        <table>
                            <tbody>
                            <tr>
                                <th>Transportation:</th>
                                <td><i> {{ current_request.get_transportation_type_display }} </i></td>
                            </tr>

                            {% if current_request.transportation_details %}
                                <tr>
                                    <th>Transportation details:</th>
                                    <td><i>{{ current_request.transportation_details }}</i></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Accommodation:</th>
                                <td><i> {{ current_request.get_accommodations_display }} </i></td>
                            </tr>
                            {% if current_request.accommodations_details %}
                                <tr>
                                    <th>Accommodation details:</th>
                                    <td><i> {{ current_request.accommodations_details }} </i></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Meals:</th>
                                <td><i> {{ current_request.get_meals_display }} </i></td>
                            </tr>
                            {% if current_request.meals_details %}
                                <tr>
                                    <th>Meals details:</th>
                                    <td><i> {{ current_request.meals_details }} </i></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Staff:</th>
                                <td><i> {{ current_request.get_staff_display }} </i></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <hr class="custom-line">
                    <div class="trip-section">
                        <h3 class="title">Billing Information:</h3>
                        <table>
                            <tbody>
                            <tr>
                                <th>Budget:</th>
                                <td>
                                    <i> {{ current_request.budget }} {{ current_request.get_currency_display }} </i>
                                </td>
                            </tr>
                            <tr>
                                <th>Currency:</th>
                                <td><i>{{ current_request.get_currency_display }}</i></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <!--Internal comments box -->

            <div class="trip trip-proposal trip-internal-note">

                <div class="trip-section">
                    <h3 class="title">Internal Comments</h3>
                </div>
                <hr class="custom-line">
                <form id="proposal-form" method="post" action="#" onsubmit="return false"
                      data-mode="create" data-trip-id="{{ trip_id }}">
                    <div class="internal-note">
                        {{ proposal.internal_comments|placeholder:'Add internal notes here' }}
                        {% if proposal.errors.internal_comments %}
                            <div class="error">{{ proposal.errors.internal_comments }}</div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        <!-- Trip Proposal Template -->
        <form id="proposal-form" method="post" action="#" onsubmit="return false" data-mode="create"
              data-trip-id="{{ trip_id }}">
            {% csrf_token %}
            <div class="trip proposal-edit proposal-create">

                <div class="trip-title">
                    <!-- Proposal title -->
                    <p>{{ proposal.title }}</p>
                    {% if proposal.errors.title %}
                        <div class="error">{{ proposal.errors.title }}</div>
                    {% endif %}

                </div>
                <hr class="custom-line">
                <!-- Accommodation -->
                <div class="trip-section">
                    <h3 id="section" class="title">Accommodations</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>
                    <ul class="responsive-table requests-table">

                        <li class="table-header variable-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1 " data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33" data-label="service details"><select id="service-dropdown"
                                                                                         name="service">
                                <option value="">Select a Service</option>
                            </select></div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="variable cost"><input type="text" id="service-price"
                                                                                     name="service_price"
                                                                                     placeholder="€ 0.00">
                            </div>

                            <!-- Action buttons-->
                            <div class="col col-6" data-label="actions">
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Description button-->
                                    <a href="#" class="toggle-description-btn">
                                        <img
                                                src="{% static 'images/down-arrow.png' %}"
                                                alt="toggle description"
                                                title="Add description"
                                                data-open="{% static 'images/arrow-up.png' %}"
                                                data-close="{% static 'images/down-arrow.png' %}"
                                        />
                                    </a>
                                </div>
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Remove Row-->
                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button" title="Remove row"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Hidden description row -->
                        <li class="table-row description-row" style="display: none;">
                            <div class="col col-full">
                                {{ item_form.additional_notes|placeholder:'Add additional details here...' }}
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Meals-->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Meals</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>

                    <ul class="responsive-table requests-table">

                        <li class="table-header variable-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33 note" data-label="service details">
                                <select id="meal-dropdown" name="meal">
                                    <option value="">Select an option</option>
                                    {% for meal_value in meal_options %}
                                        <option value="{{ meal_value }}">{{ meal_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>

                            <!-- Remove Row-->
                            <div class="col col-6" data-label="remove">
                                <div class="action-btn request-action-btn proposal-item-btn">

                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Private Transport -->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Private Transport</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>
                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33" data-label="service details">
                                <select id="service-dropdown" name="service">
                                    <option value="">Select a Service</option>
                                </select>
                            </div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>
                            <!-- Action buttons-->
                            <div class="col col-6" data-label="actions">
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Description button-->
                                    <a href="#" class="toggle-description-btn">
                                        <img
                                                src="{% static 'images/down-arrow.png' %}"
                                                alt="toggle description"
                                                title="Add description"
                                                data-open="{% static 'images/arrow-up.png' %}"
                                                data-close="{% static 'images/down-arrow.png' %}"
                                        />
                                    </a>
                                </div>
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Remove Row-->
                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button" title="Remove row"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Hidden description row -->
                        <li class="table-row description-row" style="display: none;">
                            <div class="col col-full">
                                {{ item_form.additional_notes|placeholder:'Add additional details here...' }}
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Public Transport -->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Public Transport</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>
                    <ul class="responsive-table requests-table">

                        <li class="table-header variable-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33" data-label="service details">
                                <select id="service-dropdown" name="service">
                                    <option value="">Select a Service</option>
                                </select>
                            </div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>
                            <!-- Action buttons-->
                            <div class="col col-6" data-label="actions">
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Description button-->
                                    <a href="#" class="toggle-description-btn">
                                        <img
                                                src="{% static 'images/down-arrow.png' %}"
                                                alt="toggle description"
                                                title="Add description"
                                                data-open="{% static 'images/arrow-up.png' %}"
                                                data-close="{% static 'images/down-arrow.png' %}"
                                        />
                                    </a>
                                </div>
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Remove Row-->
                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button" title="Remove row"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Hidden description row -->
                        <li class="table-row description-row" style="display: none;">
                            <div class="col col-full">
                                {{ item_form.additional_notes|placeholder:'Add additional details here...' }}
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Activity -->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Extra Activities</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>
                    <ul class="responsive-table requests-table">

                        <li class="table-header variable-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33" data-label="service details">
                                <select id="service-dropdown" name="service">
                                    <option value="">Select a Service</option>
                                </select>
                            </div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>
                            <!-- Action buttons-->
                            <div class="col col-6" data-label="actions">
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Description button-->
                                    <a href="#" class="toggle-description-btn">
                                        <img
                                                src="{% static 'images/down-arrow.png' %}"
                                                alt="toggle description"
                                                title="Add description"
                                                data-open="{% static 'images/arrow-up.png' %}"
                                                data-close="{% static 'images/down-arrow.png' %}"
                                        />
                                    </a>
                                </div>
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Remove Row-->
                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button" title="Remove row"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Hidden description row -->
                        <li class="table-row description-row" style="display: none;">
                            <div class="col col-full">
                                {{ item_form.additional_notes|placeholder:'Add additional details here...' }}
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Transfers -->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Transfers</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>
                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33" data-label="service details">
                                <select id="service-dropdown" name="service">
                                    <option value="">Select a Service</option>
                                </select>
                            </div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>
                            <!-- Action buttons-->
                            <div class="col col-6" data-label="actions">
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Description button-->
                                    <a href="#" class="toggle-description-btn">
                                        <img
                                                src="{% static 'images/down-arrow.png' %}"
                                                alt="toggle description"
                                                title="Add description"
                                                data-open="{% static 'images/arrow-up.png' %}"
                                                data-close="{% static 'images/down-arrow.png' %}"
                                        />
                                    </a>
                                </div>
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Remove Row-->
                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button" title="Remove row"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Hidden description row -->
                        <li class="table-row description-row" style="display: none;">
                            <div class="col col-full">
                                {{ item_form.additional_notes|placeholder:'Add additional details here...' }}
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Local Guides -->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Local Guides</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>

                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33" data-label="service details">
                                <select id="service-dropdown" name="service">
                                    <option value="">Select a Service</option>
                                </select>
                            </div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>
                            <!-- Action buttons-->
                            <div class="col col-6" data-label="actions">
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Description button-->
                                    <a href="#" class="toggle-description-btn">
                                        <img
                                                src="{% static 'images/down-arrow.png' %}"
                                                alt="toggle description"
                                                title="Add description"
                                                data-open="{% static 'images/arrow-up.png' %}"
                                                data-close="{% static 'images/down-arrow.png' %}"
                                        />
                                    </a>
                                </div>
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Remove Row-->
                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button" title="Remove row"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Hidden description row -->
                        <li class="table-row description-row" style="display: none;">
                            <div class="col col-full">
                                {{ item_form.additional_notes|placeholder:'Add additional details here...' }}
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Tour Leader -->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Tour Leader</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>

                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33" data-label="service details">
                                <select id="service-dropdown" name="service">
                                    <option value="">Select a Service</option>
                                </select>
                            </div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>

                            <!-- Action buttons-->
                            <div class="col col-6" data-label="actions">
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Description button-->
                                    <a href="#" class="toggle-description-btn">
                                        <img
                                                src="{% static 'images/down-arrow.png' %}"
                                                alt="toggle description"
                                                title="Add description"
                                                data-open="{% static 'images/arrow-up.png' %}"
                                                data-close="{% static 'images/down-arrow.png' %}"
                                        />
                                    </a>
                                </div>
                                <div class="action-btn request-action-btn proposal-item-btn">
                                    <!-- Remove Row-->
                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button" title="Remove row"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Hidden description row -->
                        <li class="table-row description-row" style="display: none;">
                            <div class="col col-full">
                                {{ item_form.additional_notes|placeholder:'Add additional details here...' }}
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Other Services - Variable-->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Other Services - Variable</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>

                    <ul class="responsive-table requests-table">

                        <li class="table-header variable-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33 note"
                                 data-label="service details">{{ item_form.additional_notes|placeholder:'Add service' }}</div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>

                            <!-- Remove Row-->
                            <div class="col col-6" data-label="remove">
                                <div class="action-btn request-action-btn proposal-item-btn">

                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Other Services - Fixed-->
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Other Services - Fixed</h3>
                    <!-- Add row button -->

                    <div class="action-btn add-option">
                        <a href="#" class="add-row-button">
                            <img
                                    src="{% static 'images/new-page.png' %}"
                                    alt="Add row"
                            />
                        </a>
                    </div>

                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                            <div class="col col-6 empty-space">Btn</div>

                        </li>
                        <li class="table-row">
                            <div class="col col-1" data-label="date">{{ item_form.corresponding_trip_date }}</div>
                            <div class="col col-2" data-label="city">{{ item_form.city }}</div>
                            <div class="col col-33 note"
                                 data-label="service details">{{ item_form.additional_notes|placeholder:'Add service' }}</div>
                            <div class="col col-4" data-label="quantity">{{ item_form.quantity|placeholder:'0' }}</div>
                            <div class="col col-5" data-label="price"><input type="text" id="service-price"
                                                                             name="service_price" placeholder="€ 0.00">
                            </div>

                            <!-- Remove Row-->
                            <div class="col col-6" data-label="remove">
                                <div class="action-btn request-action-btn proposal-item-btn">

                                    <a href="#" class="remove-row-button">
                                        <img
                                                src="{% static 'images/close.png' %}"
                                                alt="remove row button"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </form>


        <!-- Trip Proposal Budget Template -->
        <div class="trip trip-proposal budget">

            <div class="trip-title">
                <!-- Budget title -->
                <p>Proposal Budget</p>

            </div>

            <hr class="custom-line">

            <div class="trip-section budget-section">
                <form id="proposal-form" method="post" action="#" onsubmit="return false">
                    {% csrf_token %}
                    <div class="state-save-btn">
                        <div class="prop-status">
                            <p>State:</p>
                            <p id="draft-status">{{ proposal.status }}</p>

                        </div>

                        <button id="submit-proposal-btn" class="top-btn" type="submit">
                            <img
                                    src="{% static 'images/save (1).png' %}"
                                    alt="Add row"
                                    title="Save proposal"
                            />
                        </button>
                    </div>
                    <div class="budget-container">
                        <table class="budget-table" id="budget-table">

                            <thead>
                            <tr>
                                <th></th>
                                {#                            <th>Totals</th>#}
                                <th>{{ current_request.min_participants }} pax</th>
                                <th>{{ current_request.max_participants }} pax</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Variable cost:</th>
                                <td><i> {{ budget_form.variable_cost }} € </i></td>
                                <td><i> {{ budget_form.variable_cost }} € </i></td>
                            </tr>
                            <tr>
                                <th class="fixed-cost">Fixed cost:</th>
                                <td><i> {{ budget_form.fixed_cost }} € </i></td>
                                <td><i> {{ budget_form.fixed_cost }} € </i></td>
                            </tr>

                            <tr>
                                <th>
                                    FOC: &nbsp; &nbsp; <input type="number" id="foc-input" name="free_of_charge" min="0"
                                                              placeholder="0"
                                                              value="{{ budget_form.free_of_charge.value }}"> &nbsp;pax
                                </th>
                                <td><i> {{ budget_form.free_of_charge_amount }} € </i></td>
                                <td><i> {{ budget_form.free_of_charge_amount }} € </i></td>
                            </tr>

                            <tr>
                                <th>Total per pax:</th>
                                <td><i> {{ budget_form.total_cost_per_person }} € </i></td>
                                <td><i> {{ budget_form.total_cost_per_person }} € </i></td>
                            </tr>

                            <tr>
                                <th>Total Cost:</th>
                                <td><i> {{ budget_form.total_cost }} € </i></td>
                                <td><i> {{ budget_form.total_cost }} € </i></td>
                            </tr>

                            <tr>
                                <th>Service fee:</th>
                                <td><i> € {{ budget_form.service_fee }} </i></td>
                                <td><i> € {{ budget_form.service_fee }} </i></td>
                            </tr>
                            <tr>
                                <th>Markup:</th>
                                <td><i> {{ budget_form.margin }} % </i></td>
                                <td><i> {{ budget_form.margin }} %</i></td>
                            </tr>

                            </tbody>


                            <tfoot>
                            <tr>
                                <th>Price per pax:</th>
                                <td><i> {{ budget_form.fina_price_per_person }} € </i></td>
                                <td><i> {{ budget_form.fina_price_per_person }} € </i></td>
                            </tr>
                            <tr>
                                <th>Final Price:</th>
                                {#                            <td><i> total € </i></td>#}
                                <td><i> {{ budget_form.fina_price }} € </i></td>
                                <td><i> {{ budget_form.fina_price }} € </i></td>
                            </tr>
                            </tfoot>

                        </table>
                        {#                        <div class="prop-status">#}
                        {#                            <p>State:</p>#}
                        {#                            <p id="draft-status">{{ proposal.status }}</p>#}
                        {##}
                        {#                        </div>#}
                    </div>
                </form>
            </div>
            {#            <button id="submit-proposal-btn" class="add-btn" type="submit">Submit Proposal</button>#}

        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/create-edit-proposal functionalities.js' %}"></script>
    <script src="{% static 'js/toggle-row.js' %}"></script>
    <!-- flatpikr setup-->
    <script src="{% static 'js/date-formatting.js' %}"></script>
    <script src="{% static 'js/saving-settings.js' %}"></script>
{% endblock %}
