{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="proposal">
        <div class="trip trip-proposal">
            <div class="trip-title">
                <!-- Trip title -->
                <p>{{ current_request.slug }}</p>

            </div>
            <hr class="custom-line">
            <div class="trip-section">
                <h3 class="title">Group Information</h3>
                <table>
                    <tbody>
                    <tr>
                        <th>Nationality:</th>
                        <td><i> {{ current_request.get_nationality_display }} </i></td>
                    </tr>
                    <tr>
                        <th>Age range:</th>
                        <td><i>{{ current_request.age_range }} years old</i></td>
                    </tr>
                    <tr>
                        <th>Min participants:</th>
                        <td><i> {{ current_request.min_participants }} people</i></td>
                    </tr>
                    <tr>
                        <th>Max participants:</th>
                        <td><i> {{ current_request.max_participants }} people</i></td>
                    </tr>
                    <tr>
                        <th>Group type:</th>
                        <td><i> {{ current_request.get_kind_of_group_display }} </i></td>
                    </tr>
                    {% if current_request.type_of_trip %}
                        <tr>
                            <th>Type of trip:</th>
                            <td><i> {{ current_request.type_of_trip }} </i></td>
                        </tr>
                    {% endif %}
                    {% if current_request.additional_observations %}
                        <tr>
                            <th>Additional observations:</th>
                            <td><i> {{ current_request.additional_observations }} </i></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 class="title">Dates Information</h3>
                    <table>
                        <tbody>
                        <tr>
                            <th>Start date:</th>
                            <td><i> {{ current_request.trip_start_date }} </i></td>
                        </tr>
                        <tr>
                            <th>End date:</th>
                            <td><i>{{ current_request.trip_end_date }}</i></td>
                        </tr>
                        <tr>
                            <th>Trip duration:</th>
                            <td><i> {{ current_request.trip_duration }} days </i></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 class="title">Destination Information:</h3>

                    <table>
                        <tbody>
                        <tr>
                            <th>Origin country:</th>
                            <td><i> {{ current_request.get_country_origin_display }} </i></td>
                        </tr>
                        <tr>
                            <th>Destinations:</th>
                            <td><i>{{ current_request.get_country_destinations_display }}</i></td>
                        </tr>
                        {% if current_request.other_destinations %}
                            <tr>
                                <th>Additional destinations info:</th>
                                <td><i> {{ current_request.other_destinations }} </i></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 class="title">Trip Information:</h3>

                    <table>
                        <tbody>
                        <tr>
                            <th>Transportation:</th>
                            <td><i> {{ current_request.get_transportation_type_display }} </i></td>
                        </tr>

                        {% if current_request.transportation_details %}
                            <tr>
                                <th>Transportation details:</th>
                                <td><i>{{ current_request.transportation_details }}</i></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Accommodation:</th>
                            <td><i> {{ current_request.get_accommodations_display }} </i></td>
                        </tr>
                        {% if current_request.accommodations_details %}
                            <tr>
                                <th>Accommodation details:</th>
                                <td><i> {{ current_request.accommodations_details }} </i></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Meals:</th>
                            <td><i> {{ current_request.get_meals_display }} </i></td>
                        </tr>
                        {% if current_request.meals_details %}
                            <tr>
                                <th>Meals details:</th>
                                <td><i> {{ current_request.meals_details }} </i></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Staff:</th>
                            <td><i> {{ current_request.get_staff_display }} </i></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 class="title">Billing Information:</h3>
                    <table>
                        <tbody>
                        <tr>
                            <th>Budget:</th>
                            <td><i> {{ current_request.budget }} {{ current_request.get_currency_display }} </i>
                            </td>
                        </tr>
                        <tr>
                            <th>Currency:</th>
                            <td><i>{{ current_request.get_currency_display }}</i></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>


        <!-- Trip Proposal Template -->

        <div class="trip proposal-edit">
            <div class="trip-title">
                <!-- Proposal title -->
                <p>{{ proposal.title }}</p>

            </div>

            <!-- Accommodation Section-->

            {% if accommodation_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Accommodations</h3>

                    <ul class="responsive-table requests-table">

                        <li class="table-header variable-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>

                        </li>
                        {% for item in accommodation_items %}

                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.service_name }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>

                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- Public Transport Section-->

            {% if public_transport_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Public Transport</h3>
                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>

                        </li>
                        {% for item in public_transport_items %}

                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.service_name }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>

                        {% endfor %}
                    </ul>

                </div>
            {% endif %}

            <!-- Private Transport Section-->

            {% if private_transport_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Private Transport</h3>
                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>

                        </li>
                        {% for item in private_transport_items %}

                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.service_name }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>

                        {% endfor %}
                    </ul>

                </div>
            {% endif %}

            <!-- Activity/Tickets Section-->

            {% if activity_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Activity</h3>

                    <ul class="responsive-table requests-table">

                        <li class="table-header variable-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                        </li>
                        {% for item in activity_items %}

                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.service_name }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>

                        {% endfor %}
                    </ul>

                </div>
            {% endif %}

            <!-- Transfers Section-->

            {% if transfer_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Transfers</h3>
                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>

                        </li>
                        {% for item in transfer_items %}
                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.service_name }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}

            <!-- Local Guides Section-->

            {% if guides_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Guides</h3>

                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                        </li>
                        {% for item in guides_items %}
                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.service_name }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}

            <!-- Tour Leader Section-->

            {% if tour_leader_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Tour Leader</h3>

                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                        </li>
                        {% for item in tour_leader_items %}
                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.service_name }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}

            <!-- Other Services Section-->

            {% if other_items %}
                <hr class="custom-line">
                <div class="trip-section">
                    <h3 id="section" class="title">Other Services</h3>

                    <ul class="responsive-table requests-table">

                        <li class="table-header fixed-cost">
                            <div class="col col-1">Date</div>
                            <div class="col col-2">City</div>
                            <div class="col col-33">Service</div>
                            <div class="col col-4">Units</div>
                            <div class="col col-5">Price</div>
                        </li>
                        {% for item in other_items %}
                            <li class="table-row">
                                <div class="col col-1 " data-label="date">{{ item.corresponding_trip_date }}</div>
                                <div class="col col-2" data-label="city">{{ item.city }}</div>
                                <div class="col col-33" data-label="service details">{{ item.additional_notes }}</div>
                                <div class="col col-4" data-label="quantity">{{ item.quantity }}</div>
                                <div class="col col-5" data-label="variable cost">€ {{ item.price }}</div>
                            </li>
                        {% endfor %}
                    </ul>


                </div>
            {% endif %}

        </div>

        <!-- Trip Proposal Budget Template -->


        <div class="trip trip-proposal budget">

            <div class="trip-title">
                <!-- Budget title -->
                <p>Proposal Budget</p>

            </div>

            <hr class="custom-line">

            <div class="trip-section">
                <div class="budget-container">
                    <table class="budget-table" id="budget-table">

                        <thead>
                        <tr>
                            <th></th>
                            {% for budget_option in budget %}
                                <th>{{ budget_option.pax }} pax</th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <th>Variable cost:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.variable_cost }} € </i></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th class="fixed-cost">Fixed cost:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.fixed_cost }} € </i></td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>FOC: {{ foc_pax }} pax</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.free_of_charge_amount }} € </i></td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Total per person:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.total_cost_per_person }} € </i></td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Total Cost:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.total_cost }} € </i></td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Service fee:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.service_fee }} € </i></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Margin:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.margin }} € </i></td>
                            {% endfor %}
                        </tr>

                        </tbody>


                        <tfoot>
                        <tr>
                            <th>Price per person:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.fina_price_per_person }} € </i></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Final Price:</th>
                            {% for budget_option in budget %}
                                <td><i> {{ budget_option.final_price }} € </i></td>
                            {% endfor %}
                        </tr>
                        </tfoot>

                    </table>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
