.checkbox-columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) ;
    gap: 10px;
    max-width: 100%;
    /*max-height: 300px;*/
    /*overflow-y: auto;*/
}

.checkbox-columns label{
    display: block;
    padding: 5px;
}

/*fieldset{*/
/*    border: 1px solid #ccc;*/
/*    padding: 10px;*/
/*}*/